[Desktop Entry]
Type=Application
Name=TBO
GenericName=Comic Editor
Comment=Create comic strips and illustrated presentations
Exec=tbo %f
Icon=tbo
Terminal=false
StartupNotify=false
StartupWMClass=tbo
Categories=Graphics;VectorGraphics;GTK;
